body{
  background-color: purple;
  margin: o;
}
canvas{
  display:block;
  vertical-align:bottom;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: #663399;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
